.filter-item {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 24px;
  padding: 0 12px;
  &.hidden {
    display: none;
  }
  &.column-direction {
    flex-direction: column;
    .filter-item-label {
      padding: 0;
      line-height: 1.5715;
      white-space: normal;
      text-align: left;
      flex: auto;
    }
    > *:nth-child(2) {
      padding-top: 8px;
    }
  }
  .filter-item-label {
    flex: 0 0 120px;
    text-align: right;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #606266
  }
  .filter-item-control {
    flex: 1;
  }
}